- if (session.user) {
	form(method="POST", action="/session")
		span Hello&nbsp;
		span= session.user.name
		span !&nbsp;&nbsp;
		input(type="hidden", name="_method", value="DELETE")
		input.btn-primary.btn-mini(type="submit", value="Log out")

- } else {
	
		a(href="/session/new") Login
		span &nbsp;or&nbsp;
		a(href="/users/new") Register
- }