!!!
html(ng-app)
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='https://web-pos-client.azurewebsites.net/Content/bootstrap.css')
		script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.js')
		script(src='/javascripts/my_app.js')
	body
		header!= partial('session/user')
		section#main!= body
