!!!
html(ng-app)
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='https://web-pos-client.azurewebsites.net/Content/bootstrap.css')
		script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.js')
		script(src='/javascripts/my_app.js')
	body
		header!= partial('session/user')
		[Nav goes here]
		div#container
			div.row
				div.span4.well
					[Left Content]
				div.span12.well!= body
			div#footer
				div#footerInner
					[Footer]