!!!
html(ng-app)
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.js')
		script(src='https://ppppublic.blob.core.windows.net/webpos/jquery-1.9.1.js')
		script(src='/javascripts/my_app.js')
	body
		header!= partial('session/user')
		section#main!= body
