body {
  /*padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 99%;
}

a {
  color: #00B7FF;
}

#main{
	padding: 50px;
}

#container {
   /*min-height:100%;
   position:relative;*/
}

#nav {
	padding:15px;
}

header {
    width:100%;
    height:60px; 
    background: #D6D6D6;
    color: #606060;
    padding: 10px;
}

#headerInner{
	float: right;
	padding: 10px;
}

#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px; 
    background: #D6D6D6;
    color: #606060;
    margin-top: 10px;
}

#footerInner{
	float: left;
	padding: 10px;
}

.span4, .span12 {
	height: 400px;
}