body {
  color: #777777;
  font: 400 14px/1.6"Open Sans", sans-serif;
}

a:hover {
  text-decoration: none !important;
}

#container {
  min-height:100%;
  position:relative;
  align: center;
}

header {
  position: fixed;
  padding: 10px;
  border-width:1px;
  border-color: gray;
  width: 99%;
  margin-top:-50px;
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);
  color:black;
}

#headerWrapper {
  margin: 0 0 0 130px;
  width: 75%;
}

#headerInnerRight {
  float: right;
  margin: 0 20px 0 0;
}

.nav-button {
  padding: 0 20px 0 20px;
}

.separator {
  border-right: 1px solid #CCCDCF;
}

footer {
  position:relative;
  clear: both;
  width:100%;
  height:120px;   
  background: none repeat scroll 0 0 #F0F0F0;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15) inset;
  padding: 10px;
}

.sub-footer {
  margin:10px;
  text-align: center;
}

.footer-link {
    color: #999999;
    text-decoration: none;
    margin-right: 40px;
}

#copyright {
  margin:10px;
  text-align: left;
  font-size: x-small;
}

#contentWrapper {
  margin: 50px 0 0 100px;
  padding-left: 10px;
  min-height: 1450px;
  width: 91%;
  color: #7D7E80;
}

.left-sub-content, .middle-sub-content, .right-sub-content{
  padding: 25px;
  margin: 25px;
}

.right-sub-content {
  position: fixed;
  top: 50px;
  left: 1100px;
  width: 75px;
}

#leftContent, #middleContent, #rightContent{
  float: left;
}

#leftContent {
  width: 20%;
}

#rightContent {
  width: 15%;
}

.left-sub-content, .middle-sub-content, .right-sub-content {
  border: 1px solid #CCCDCF;
}

#middleContent {
  width: 50%;
  min-height: 750px;
}

.bottom-header {
  border-bottom: 1px solid #DDDDDD;
  box-shadow: 0 0 4px #EEEEEE;
}

#login {
  float: right;
}

.gradient-line {
    background-image: linear-gradient(to right, #F0F0F0, #DDDDDD 35%, #DDDDDD 65%, #F0F0F0);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 40% 1px;
    margin-top: -6px;
    padding-bottom: 14px;
    text-align: center;
}

table th {
  background-color: #C2C3C4;
  color: white;
}

#top {
  background: none repeat scroll 0 0 black;
  padding: 8px;
  opacity: 0.2;
  bottom: 25px;
  position: fixed;
  right: 15px;
  z-index: 1;
}

.hidden{
  visibility: hidden;
}

/* Popovers */
#popoverInnerContent {
  font-size: x-small;
  color: gray;
  padding: 10px 0 10px 0;
  margin: 0 0 10px 0;
  border-bottom: 1px solid #ACACAD;
}

#popoverFooter {
  width: 100%;
  text-align: right;
}