h3 Users

p 
	a(href="/users/new") Create new profile

table.table.table-bordered.table-hover
	thead
		tr 
			th Name
			th User Name
	- for(var user in users) {
		tr
			td= users[user] .name
			td 
				a(href="/users/" + encodeURIComponent(user))= users[user] .username
	- };